<h1>All Events</h1>

<div class="event-info">
  <% if signed_in? %>
    <% @events.each do |event| %>
    <tr>
        <td><%= event.name %></td>
    </tr>
    <br>
    <tr>
        <td><%= event.description %></td>
    </tr>
    <br>
    <tr>
        <strong>Posted by: <%= "user (#{current_user.id})" %></strong>
    </tr>
    <br><br>
    <% end %>
  <% end %>
</div>

<%= link_to 'Post New Event', new_event_url %>
